html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.containBox {
  overflow: auto;
  background: url('images/mathPage.jpg');
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pageInfo {
  overflow: auto;
  background: rgba(255, 255, 255, 0.3);
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(4px);
}

.InfoBox {
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  width: 70%;
  height: 40em;
  text-align: center;
  padding: 20px 35px 37px 35px;

  min-height: 50vh;

}

h1 {
  font-size: 45px;
  color: #ed872d;
  /* text-decoration: underline; */
}

hr {
  border: 1px solid rgba(237, 135, 45, 0.3);
  margin-bottom: 30px;
  width: 30%;
}

.time {
  text-align: left;
}

.time p {
  font-size: 30px;
  font-weight: bold;
  color: #3980a6
}

.time span {
  font-size: 40px;
  color: #ed872d;
}

.problemTitle {
  font-size: 30px;
  color: #25546d;

  position: relative;
}

.probItem {
  font-size: 40px;
  font-weight: bold;
  color: #25546d;

  position: relative;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-family: Poppins;
  font-size: 16px;
  border: none;
  background: transparent;
  width: 10%;
  line-height: 2;
  border: 2px solid rgba(57, 128, 166, 0.8);
  border-radius: 25px;
  color: white;
  outline: none;
  text-align: center;
  transition: background 0.4s linear;
}

input:focus {
  background: rgb(255, 163, 67)
}

.score {
  background-color: #ed872d;
  font-weight: bold;
  color: white;
  border-radius: 100px;
  font-size: 30px;
  padding: 10px;
  display: inline-block;
  float: right;
  margin-top: -3%;
}

.note {
  color: grey;
  font-style: italic;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

}
